[Unit]
After=network.target
Description={{ partynest__restart_descr }}

[Service]
ExecStart=/bin/systemctl restart partynest.service
Type=oneshot
WorkingDirectory=/opt/partynest/current

[Install]
WantedBy=multi-user.target
