---
ansible_become_pass: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  35666439353662333962656433316463643033636234343764363839616661303935663665346639
  3635633766653764336266316237633335646563613134350a313264323563626339363836393230
  37323938316561643139306237646630316430326336663330613736333232346566323735313866
  3961643064313764660a336531613734303164306231663034646331323637353638343963636432
  30333436343936383065626664383562653430623665373261656661613436373461613333306236
  65333534623630353530666437346166363361346161633831353866343631316537343534313433
  64653266316634313431613232633561613963373831336563623961363163386135663235356534
  32396663343330633962

certbot__email: 'kotovalexarian@gmail.com'
certbot__cert_name: 'alpha.libertarian-party.com'
certbot__cert_domains:
  - 'alpha.libertarian-party.com'
  - 'libertarian-party.com'
  - 'www.libertarian-party.com'

nginx__remove_default: true

nginx__upstreams:
  - name: partynest_general
    servers: ['beta.libertarian-party.com:443']
  - name: partynest_staff
    servers: ['gamma.libertarian-party.com:443']

nginx__sites:
  - type:     redirect
    domain:   'www.libertarian-party.com'
    redir_to: 'libertarian-party.com'
    cert:     '/etc/letsencrypt/live/alpha.libertarian-party.com/fullchain.pem'
    key:      '/etc/letsencrypt/live/alpha.libertarian-party.com/privkey.pem'
    ssl_conf: '/etc/letsencrypt/options-ssl-nginx.conf'

  - type:     proxy
    domain:   'libertarian-party.com'
    cert:     '/etc/letsencrypt/live/alpha.libertarian-party.com/fullchain.pem'
    key:      '/etc/letsencrypt/live/alpha.libertarian-party.com/privkey.pem'
    ssl_conf: '/etc/letsencrypt/options-ssl-nginx.conf'
    clnt_ca:  '/home/kotovalexarian/ca.crt'
    no_crt:   partynest_general
    with_crt: partynest_staff
