---
certbot__email: 'kotovalexarian@gmail.com'
certbot__cert_name: 'alpha.libertarian-party.com'
certbot__cert_domains:
  - 'alpha.libertarian-party.com'
  - 'libertarian-party.com'
  - 'www.libertarian-party.com'

nginx__remove_default: true

nginx__sites:
  - type: redirect
    domain: 'www.libertarian-party.com'
    cert:     '/etc/letsencrypt/live/www.libertarian-party.com/fullchain.pem'
    key:      '/etc/letsencrypt/live/www.libertarian-party.com/privkey.pem'
    ssl_conf: '/etc/letsencrypt/options-ssl-nginx.conf'

#   - type: xxxxx
#     domain: 'libertarian-party.com'
#     cert:     '/etc/letsencrypt/live/libertarian-party.com/fullchain.pem'
#     key:      '/etc/letsencrypt/live/libertarian-party.com/privkey.pem'
#     ssl_conf: '/etc/letsencrypt/options-ssl-nginx.conf'
