---
- name: Add Certbot APT repository
  apt_repository:
    repo: ppa:certbot/certbot
    filename: certbot

- name: Install Certbot
  apt:
    name: certbot

- name: Create directory for Let's Encrypt configuration
  file:
    state: directory
    path: '/etc/letsencrypt'
    mode: 'u=rwx,g=rx,o=rx'
    owner: root
    group: root

- name: Install Let's Encrypt config
  template:
    src: templates/cli.ini
    dest: /etc/letsencrypt/cli.ini
    mode: 'u=rw,g=r,o=r'
    owner: root
    group: root

- name: Install Nginx SSL options
  copy:
    src: files/options-ssl-nginx.conf
    dest: /etc/letsencrypt/options-ssl-nginx.conf
    mode: 'u=rw,g=r,o=r'
    owner: root
    group: root

- name: Obtain Let's Encrypt certificate
  command: 'certbot certonly'
  register: certbot__result
  changed_when: >-
    certbot__result.stdout is
    not search('Certificate not yet due for renewal; no action taken.')
