---
- hosts: partynest-staff.libertarian-party.com
  module_defaults:
    apt:
      force_apt_get: true
  roles:
    - role: ../roles/common
      tags: common
  tasks:
    - name: Install PostgreSQL
      apt:
        update_cache: true
        name: ['postgresql-10', 'python-psycopg2', 'python3-psycopg2']

    - name: Create PostgreSQL database
      become: true
      become_user: postgres
      postgresql_db:
        name: '{{ postgresql_db }}'

    - name: Create PostgreSQL user
      become: true
      become_user: postgres
      postgresql_user:
        db: '{{ postgresql_db }}'
        name: '{{ postgresql_user }}'
        password: '{{ postgresql_password }}'
