---
- hosts: all
  module_defaults:
    apt:
      force_apt_get: true
  roles:
    - role: ../roles/common
      tags: common
    - role: ../roles/iptables
      tags: iptables
    - role: ../roles/certbot
      tags: certbot
    - role: ../roles/nginx
      tags: nginx
