---
- hosts: all
  module_defaults:
    apt:
      force_apt_get: true
  roles:
    - role: ../roles/common
      tags: common
    - role: ../roles/security
      tags: security
    - role: ../roles/certbot
      tags: certbot
    - role: ../roles/nginx
      tags: nginx

- hosts: partynest
  module_defaults:
    apt:
      force_apt_get: true
  roles:
    - role: kotovalexarian.partynest
      tags: partynest
