---
- hosts: all
  module_defaults:
    apt:
      force_apt_get: true
  roles:
    - role: ../roles/common
      tags: common
    - role: ../roles/security
      tags: security
    - role: ../roles/certbot
      tags: certbot
    - role: ../roles/nginx
      tags: nginx

- hosts:
    - beta.libertarian-party.com
    - gamma.libertarian-party.com
  module_defaults:
    apt:
      force_apt_get: true
  roles:
    - role: ../roles/yarn
      tags: yarn
    - role: kotovalexarian.partynest
      tags: partynest
      vars:
        partynest__postgresql_host: '{{ postgresql_host }}'
        partynest__postgresql_user: '{{ postgresql_user }}'
